#myHeader {
    color: black;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
    }

p.a {
    text-align: center;
    color: black;
    font-size: 15px;
}

.desc {
    background-color: aquamarine;
    }

p {
    text-align: center;
    color: red;
    }

a[target="link"] {
    background-color: yellow;
    }

p.b {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-style: italic; 
    font-weight: 900;
    line-height: 200%;
    color: blue;
    }
      
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    }

a.links {
    text-align: center;
    color:black;
    font-size: 140%;
    padding-left: 50px;
    padding-right: 50px;
}

a.links:hover {
    color:brown;
    text-shadow: 1px 1px 1px white;
}

#sections .links {
    font: 20px Arial, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;  
    font-size: large;
    font-style: oblique;
    font-variant: small-caps;   
    text-decoration: line-through;
}
